@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Email Confirmed</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Users != null)
    {
        @foreach (var user in Model.Users)
        {
            <tr>
                <td><img src="./Identity/Account/File?name=@user.AvatarImageName&user=@user.Id" height="50"></td>
                <td>@user.UserName</td>
                <td><a href="mailto:@user.Email">@user.Email</a></td>
                <td>@user.EmailConfirmed</td>
             </tr>
        }
    }
    </tbody>
</table>
